* {
    margin: 0;
    padding: 0;
}

:root {
    --rng: 21;
}

.background {
    margin: 0; /* Remove as margens padrão */
    height: 100vh; /* Garanta que o body ocupe toda a altura da janela de visualização */
    background-image: url(./Imagens/raceGachaBG.jpg);
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; /* Cobre toda a área do body */
}

.yourRace {
    position: relative;
    text-align: center;
}

.yourRaceText {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    left: calc(50% - 8.5rem);  
    text-shadow: 1px 2px 4px rgb(0, 0, 0); 
    font-family: "Anton", sans-serif;

}

.spincounter {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 9rem;
    left: calc(50% - 8.5rem);  
    text-shadow: 1px 1px 2px rgb(0, 0, 0); 
    font-family: "Anton", sans-serif;
}
/* 
.raceName {
    color: #f00;
} */

.raceID {
    position: absolute;
    top: 11rem;
    left: calc(50% - 8.5rem);  
}

/* ///////////////// */

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 486px;
    height: 679px;
    scale: .2;
    top: -10%;
    left: calc(50% - 230px);    
    transform-style: preserve-3d;
    transform: perspective(3000px);
    animation: autoRun 80s linear infinite;
}

@keyframes autoRun {
    from{
        transform: perspective(3000px) rotateX(-7deg) rotateY(0deg);
    }to{
        transform: perspective(3000px) rotateX(-7deg) rotateY(360deg);
    }
}

@keyframes SPIN {
    0%{
        transform: perspective(3000px) rotateX(-7deg) rotateY(0deg);
    }90%{
        transform: perspective(3000px) rotateX(-7deg) rotateY(calc(((360deg / 18) * var(--rng)) + 1deg));
    }100%{
        transform: perspective(3000px) rotateX(-7deg) rotateY(calc(((360deg / 18) * var(--rng)) - 1deg));
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg )) 
        translateZ(1500px);
}    

.item {
    border: solid rgba(255, 255, 255, 0) 2px;
    border-radius: 23px;
    transition: scale .5s, border-color .5s, box-shadow .5s;
}

.seta {
    position: absolute;
    width: 100%;
    top: -10%;
    margin: -20rem 0rem 0rem 0rem;
    transform: scale(0.04);
    opacity: 0.9;
}
.seta img{
    left: calc(50%);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:hover {
    scale: 1.04 1.04 1.04;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.678);
    border-color: white;
    cursor: pointer;

    transition: all .5s;
    /* border: solid 5px rgb(155, 252, 255);
    border-radius: 25px; */
}

/* //////// */

.button {
    position: absolute;
    width: 100%;
    transform: scale(0.5);
    top: -10%;
    margin-top: 35rem;
}

.button-img {
    position: absolute;
    left: calc(50% - 150px);
    border: solid 0px black;
    border-radius: 50%;
    transition: transform 0.5s, box-shadow 0.5s;
}

.button-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgb(202, 231, 255);
}

.button-img:active {
    box-shadow: 0px 0px 10px 5px rgb(202, 231, 255),
                inset 0px 0px 100px 100px black;
    transform: scale(1);
    transition: transform 0.1s;
}

.button-img:active > .banner .slider {
    animation: autoRunFast 10s linear infinite;
}

@keyframes autoRunFast {
    from {
        transform: perspective(3000px) rotateX(-7deg) rotateY(0deg);
    }
    to {
        transform: perspective(3000px) rotateX(-7deg) rotateY(360deg);
    }
}

.button-img::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0px 0px 150px 50px rgba(0, 0, 0, 0.829);
    opacity: 0;
    transition: opacity 0.1s;
}

.button-img:active::before {
    opacity: 1;
}

